:root {
  --font-default:Arial, sans-serif;
  --font-title:Tahoma, sans-serif;
  --font-button:Georgia, serif;

  --color-bg:#F7F6CF;
  --color-item:#B6D8F2;
  --color-line:#5784BA;
  --color-font:black;

  --size-default: 1rem;
  --size-title:calc(var(--size-default)*1.5);
  
  font-family: var(--font-default), var(--font-title), var(--font-button);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-font);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding:0;
  /* border: 1px solid var(--color-line); */
  font-size: 16px;
  box-sizing: border-box;
}

h1 {
  font-size: var(--size-title);
  text-align: center;
}

button{
  padding: 2px;
  width:32px;
  aspect-ratio: 1/1;

}

button:hover {
  background-color: var(--color-line);
  color:var(--color-bg)
}

.icon{
  aspect-ratio: 1/1;
  width:30px;
  padding: 0;
}